/* _content/MesaCore/Shared/MainLayout.razor.rz.scp.css */
.page[b-az06kmlri7] {
    position: relative;
    display: flex;
    flex-direction: column;
}

main[b-az06kmlri7] {
    flex: 1;
}

.sidebar[b-az06kmlri7] {
    background-image: linear-gradient(180deg, rgb(5, 39, 103) 0%, #3a0647 70%);
}

.top-row[b-az06kmlri7] {
    background-color: #f7f7f7;
    border-bottom: 1px solid #d6d5d5;
    justify-content: flex-end;
    height: 3.5rem;
    display: flex;
    align-items: center;
}

    .top-row[b-az06kmlri7]  a, .top-row .btn-link[b-az06kmlri7] {
        white-space: nowrap;
        margin-left: 1.5rem;
    }

    .top-row a:first-child[b-az06kmlri7] {
        overflow: hidden;
        text-overflow: ellipsis;
    }

@media (max-width: 640.98px) {
    .top-row:not(.auth)[b-az06kmlri7] {
        display: none;
    }

    .top-row.auth[b-az06kmlri7] {
        justify-content: space-between;
    }

    .top-row a[b-az06kmlri7], .top-row .btn-link[b-az06kmlri7] {
        margin-left: 0;
    }
}

@media (min-width: 641px) {
    .page[b-az06kmlri7] {
        flex-direction: row;
    }

    .sidebar[b-az06kmlri7] {
        width: 250px;
        height: 100vh;
        position: sticky;
        top: 0;
    }

    .top-row[b-az06kmlri7] {
        position: sticky;
        top: 0;
        z-index: 1;
    }

    .top-row[b-az06kmlri7], article[b-az06kmlri7] {
        padding-left: 2rem !important;
        padding-right: 1.5rem !important;
    }
}
/* _content/MesaCore/Shared/NavMenu.razor.rz.scp.css */
.navbar-toggler[b-eupti7ipkb] {
    background-color: rgba(255, 255, 255, 0.1);
}

.top-row[b-eupti7ipkb] {
    height: 3.5rem;
    background-color: rgba(0,0,0,0.4);
}

.navbar-brand[b-eupti7ipkb] {
    font-size: 1.1rem;
}

.oi[b-eupti7ipkb] {
    width: 2rem;
    font-size: 1.1rem;
    vertical-align: text-top;
    top: -2px;
}

.nav-item[b-eupti7ipkb] {
    font-size: 0.9rem;
    padding-bottom: 0.5rem;
}

    .nav-item:first-of-type[b-eupti7ipkb] {
        padding-top: 1rem;
    }

    .nav-item:last-of-type[b-eupti7ipkb] {
        padding-bottom: 1rem;
    }

    .nav-item[b-eupti7ipkb]  a {
        color: #d7d7d7;
        border-radius: 4px;
        height: 3rem;
        display: flex;
        align-items: center;
        line-height: 3rem;
    }

.nav-item[b-eupti7ipkb]  a.active {
    background-color: rgba(255,255,255,0.25);
    color: white;
}

.nav-item[b-eupti7ipkb]  a:hover {
    background-color: rgba(255,255,255,0.1);
    color: white;
}

@media (min-width: 641px) {
    .navbar-toggler[b-eupti7ipkb] {
        display: none;
    }

    .collapse[b-eupti7ipkb] {
        /* Never collapse the sidebar for wide screens */
        display: block;
    }
    
    .nav-scrollable[b-eupti7ipkb] {
        /* Allow sidebar to scroll for tall menus */
        height: calc(100vh - 3.5rem);
        overflow-y: auto;
    }
}
/* _content/MesaCore/Shared/Sidebar.razor.rz.scp.css */
.auto-hiding-nav-menu[b-0thmncg568] {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    position: relative;
    transition: max-width 0.3s ease;
    background-color: #105DA1;
    color: #fff;
    padding: 1rem;
    border-radius: 15px;
    margin-top: 5px;
}

.nav-menu[b-0thmncg568] {
    overflow: hidden;
    height: 100%; 
}

.collapsed[b-0thmncg568] {
    width: 25px;
}

.expand[b-0thmncg568] {
    width: 110px;
}


.nav-item-text[b-0thmncg568] {
    visibility: hidden; 
    position: absolute;
    margin-left: 0.5rem;
    font-size: 16px;
    margin-top: 4px;
    transition: opacity 0.3s ease, transform 0.3s ease; 
    transform-origin: left center; 
}

.expand .nav-item-text[b-0thmncg568] { 
    visibility: visible;
    opacity: 0.5;
}

.nav-link:hover .nav-item-text[b-0thmncg568] { 
    opacity: 1;
    transform: scale(1.2); 
    color: #DAF7A6; 
}

.nav-item[b-0thmncg568] {
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

.nav-item-icon[b-0thmncg568] {
    color: white;
    font-size: 20px;
    transition: opacity 0.3s ease, transform 0.3s ease; 
    transform-origin: left center; 
    margin-bottom: 5px;
}

.nav-link:hover .nav-item-icon[b-0thmncg568] {
    color: #DAF7A6;
    transform: scale(1.2); 
}

.nav-link > *[b-0thmncg568] {
    align-self: flex-start;
}
